{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #338099; }
    </style>
{% endblock %}
{% block content %}
    <h1>Calculation Result</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">tuple_elements</th>
      <th scope="col">operation_name</th>
      <th scope="col">result</th>
    </tr>
  </thead>
  <tbody>
      {% for value in my_data %}
        <tr>
          <td>{{ value[0] }}</td>
          <td>{{ value[1] }}</td>
          <td>{{ value[2] }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}
